.search-wrapper {
  display: flex;
  align-items: center;
  width: 400px;
  margin: 0 auto;
}

.search-btn {
  margin-left: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 4px 10px;
  cursor: pointer;
}

.heading {
  text-align: center;
}
