<header class="header">
  <div class="search-wrapper">
    <input
      type="text"
      class="search-input"
      placeholder="Search..."
      (keydown.enter)="onSearch($event)"
    />
    <div class="search-btn">Search</div>
  </div>
</header>

<main class="main-content">
  @if (artistName) {
    <h2 class="heading">{{ resultCount }} results for '{{ artistName }}'</h2>
  } @else {
    <h2 class="heading">Search Albums by ArtistName:</h2>
  }
  <hr class="divider" />

  <div class="album-grid">
    @for (album of albums; track album.collectionName) {
      <app-album-card [album]="album" />
    }
  </div>
</main>
